@import url("https://fonts.googleapis.com/css2?family=Alice&family=Assistant:wght@500&family=Kalam:wght@300&family=Poppins:wght@300&display=swap");
html {
  width: 100%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-wrap {
  white-space: nowrap;
}

body {
  width: 100%;
  background: rgb(13, 0, 38);
  color: white;
  font-family: "Poppins", sans-serif;
}

.display-bottom {
  scroll-margin-top: 6rem;
}

main hr {
  border: 0;
  background: #a4b3d3;
  height: 1px;
  margin: 4rem 3rem 0;
  box-shadow: 0px 12px 25px 0px;
}
#display-548px {
  display: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: clamp(15px, 25vw, 600px);
  background: rgb(37 18 76);
  padding: 12px 0;
  overflow: hidden;
}
.sign {
  font-family: "Alice", serif;
  font-family: "Assistant", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Poppins", sans-serif;
}
.sign h1,
.linear-gradient-name {
  background-image: linear-gradient(to right, white, rgb(166, 127, 243));
  -webkit-background-clip: text;
  color: transparent;
}
.sign a:hover,
.sign a:focus,
nav ul li a:hover,
nav ul li a:focus {
  filter: brightness(150%);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
}
/* // section 1 */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}
.home > div,
.about > div {
  width: 35%;
}
.left-info {
  font-size: 2.5em;
  margin-top: 100px;
}
.right-img img {
  width: 90%;
  height: auto;
  animation: float 5s ease-in-out infinite alternate forwards;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-20px) rotate(-2deg);
  }
  66% {
    transform: translateY(20px) rotate(2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.purple {
  color: rgb(125, 75, 226);
}
#about-down {
  font-size: 13px;
  display: block;
  width: 96px;
  box-sizing: border-box;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  font-size: 1.2rem;
}
.about-me {
  border: 2px solid rgb(141, 99, 227);
  padding: 5px;
  border-radius: 20px;
  background: rgb(125, 75, 226);
  box-shadow: 0px 4px 16px rgb(182 128 255);
}

.grey {
  color: grey;
  font-size: 1rem;
}
.sub-size {
  font-size: 18px;
}
.about > div > ul,
#left-info p {
  margin: 25px 0;
}
#left-info p {
  text-align: start;
  word-spacing: 1.6px;
  line-height: 1.6;
}
.noStyleList li {
  list-style: none;
}
.ul-lists {
  font-size: 1.15rem;
}
.education {
  /* font-size: 10px; */
  width: 40%;
}

.box {
  width: 80vw;
  height: 2px;
  background: #ffffff;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.verticle-line {
  height: 3vw;
  width: 2px;
  background: #ffffff;
}
.img-logo {
  width: 77px;
  height: auto;
  position: relative;
  top: 32px;
  left: -37px;
}
.verticle-line img + span {
  position: relative;
  top: 25px;
  left: -18px;
  display: flex;
  width: 50px;
}
.link {
  position: relative;
  top: 40px;
  left: -23px;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgb(101 69 195);
  box-shadow: 0px 0px 3px 0px rgb(182 128 255);
}
.link img {
  position: relative;
  top: 8px;
  width: 20px;
}
#full-socio {
  margin-top: 3rem;
}

.social-handle {
  width: 100%;
  /* height: 100%; */
  margin-top: 25px;
}
.social-handle ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
.social-handle ul li {
  list-style: none;
  margin: 0 10px 0 0;
}

.social-handle ul li img {
  width: 3rem;
}

.tech {
  max-width: 83vw;
  margin: auto;
  height: 45vh;
}
.project {
  max-width: 83vw;
  margin: 50px auto;
}

.flex-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 1.15rem; */
}

.single-warap {
  width: 22rem;
  height: 22rem;
  margin: 12px;
  position: relative;
  background: rgb(17 4 42);
  box-shadow: rgb(101 69 195 / 50%) 0px 4px 12px;
  border-radius: 15px;
}
.single-warap:hover {
  cursor: pointer;
  background: rgb(17, 0, 48);
}

.single-warap img {
  width: 100%;
  height: 50%;
  background-attachment: fixed;
  border-radius: 15px;
}
.single-warap div {
  font-size: 14px;
}
.single-warap div h3 {
  text-align: center;
}
.head-desc {
  margin-top: 5px;
}
.head-desc p {
  text-align: center;
}
.go-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 35%;
  cursor: pointer;
}
.go-link button {
  color: white;
  cursor: pointer;
  width: 100px;
  height: 33px;
  font-size: 1.2rem;
  background: rgb(125, 75, 226);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 16px rgb(125 75 226);
}

footer {
  background-color: rgb(37 18 76);
  text-align: center;
  padding: 10px 0 0 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}
.footer div {
  text-align: start;
}
.footer-secind ul {
  list-style-type: none;
}
.footer-first img {
  border-radius: 20%;
  width: 3.8rem;
}
#footer-right {
  color: grey;
  display: block;
  margin: 25px 0 0 0;
}
.total-list {
  display: flex;
  justify-content: flex-end;
}
.total-list .menu-button {
  display: none;
}

/* || Media queries for 1200px  */

@media screen and (max-width: 1200px) {
  .nav-bar > div {
    margin: 0 25px;
    transition: 0.2s;
  }
  .home > div,
  .about > div {
    width: 40%;
  }
  .tech {
    height: min(30vw, 600px);
  }
}

@media screen and (max-width: 992px) {
  nav {
    justify-content: center;
    gap: min(15vw, 60px);
    transition: 0.2s;
  }
  .left-info {
    font-size: 2em;
  }
  .about {
    font-size: 1rem;
  }
  .img-logo {
    width: 70px;
    position: relative;
    top: 25px;
    left: -35px;
  }
  .tech {
    height: min(35vw, 600px);
  }
  .single-warap {
    width: min(35vw, 22rem);
    height: min(50vw, 80rem);
  }
}

@media screen and (max-width: 548px) {
  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(13, 0, 38);
    font-size: 1rem;
    transform-origin: top center;
    animation: dropDown 0.5s ease forwards;
  }
  @keyframes dropDown {
    0% {
      transform: scaleY(0);
    }
    95% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }
  nav ul li {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
  }
  nav ul li:hover,
  nav ul li:focus {
    transform: scale(1.2);
    transition: all 0.2s;
  }
  /* main,
  footer {
    display: none;
  } */
  .total-list .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  body {
    font-size: 0.7em;
  }
  /* Hamberger button */
  .menu-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    /* THIS 3 property make the hamberger div in center */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    /* It is necessary to position it absolute, so parent class is relative */
    position: absolute;
  }

  .menu-icon::before,
  .menu-icon::after {
    /* AS psudo element is used, so content is necessary */
    content: "";
  }

  .menu-icon::before {
    /* It upholds the before div to upside */
    transform: translate(-15px, -8px);
  }

  .menu-icon::after {
    /* It push the after div to downside */
    transform: translate(-15px, 8px);
  }

  /* TRANSITIONS LIMIT */
  .menu-icon::after,
  .menu-icon::before,
  .menu-icon {
    transition: all 0.5s ease 0s;
  }

  .menu-button:hover .menu-icon,
  .menu-button:focus .menu-icon {
    background: transparent;
  }

  /* TRANSFORMATION OF HAMBERGER- before  to one cross edge*/
  .menu-button:hover .menu-icon::before,
  .menu-button:focus .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
  }

  /* TRANSFORMATION OF HAMBERGER- after to two cross egdge */
  .menu-button:hover .menu-icon::after,
  .menu-button:focus .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
  }

  .menu-button:hover ~ ul,
  .total-list ul:hover {
    display: block;
  }

  nav {
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0;
  }

  .left-info {
    font-size: 2.5em;
    margin-top: 25px;
  }
  .home > div {
    width: 80%;
  }

  .social-handle ul {
    flex-wrap: wrap;
    align-content: flex-start;
  }

  nav {
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
  }

  .social-handle ul li img {
    width: 3.5rem;
  }

  .about {
    flex-direction: column;
    /* margin: 50px 0 20px; */
  }
  .about > div {
    width: 80%;
  }

  .tech {
    height: max-content;
    margin-top: 50px;
  }
  .tech h1 {
    font-size: 24px;
  }

  .box {
    background: none;
    width: 80vw;
    height: min(80vw, 600px);
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .box .verticle-line:nth-child(even) {
    flex-direction: row-reverse;
  }

  .verticle-line {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
  }

  .img-logo {
    width: 10vw;
    height: auto;
    position: static;
  }

  .verticle-line img + span {
    position: static;
    display: inline-block;
    width: 50px;
  }

  .link {
    position: static;
    padding: 0.5rem;
    border-radius: 20px;
    background: rgb(101 69 195);
    box-shadow: 0px 0px 3px 0px rgb(182 128 255);
  }
  .link img {
    position: static;
    width: 20px;
    height: auto;
  }

  #display-548px {
    display: block;
  }
}
