@import url("https://fonts.googleapis.com/css2?family=Alice&family=Assistant:wght@500&family=Kalam:wght@300&family=Poppins:wght@300&display=swap");
html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-wrap {
  white-space: nowrap;
}

body {
  width: 100%;
  background: rgb(13, 0, 38);
  background-color: #0d0026;
  background-image: url("https://w0.peakpx.com/wallpaper/305/517/HD-wallpaper-spot-black-purple-minimal.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
}
body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(42 37 37 / 32%);
  z-index: -1;
}
img {
  display: block;
}

.display-bottom {
  scroll-margin-top: 6rem;
}

main hr {
  border: 0;
  background: #a4b3d3;
  height: 1px;
  margin: 4rem 3rem 0;
  box-shadow: 0px 12px 25px 0px;
}
#display-548px {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: clamp(15px, 25vw, 600px);
  padding: 12px 0;
  overflow: hidden;
  background-color: #300f3087;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
    rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
    rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
    rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px,
    rgb(0 0 0 / 9%) 0px 16px 8px;
}
.sign {
  font-family: "Alice", serif;
  font-family: "Assistant", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Poppins", sans-serif;
}
.sign h1,
.linear-gradient-name {
  background-image: linear-gradient(to right, white, rgb(166, 127, 243));
  -webkit-background-clip: text;
  color: transparent;
}
.sign a:hover,
.sign a:focus,
nav ul li a:hover,
nav ul li a:focus {
  filter: brightness(150%);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
}
/* // section 1 */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  position: relative;
}

#fade-name {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
}

.home > div,
.about > div {
  width: 35%;
}
.left-info {
  font-size: 2.5em;
  margin-top: 100px;
}
.right-img {
  display: grid;
  place-content: center;
}
.right-img img {
  width: 90%;
  height: auto;
  margin: auto;
  /* filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.631)); */
  transition: all 2s ease-in-out 0s;
  animation: zoom-In-Out 3.5s ease-in-out infinite alternate forwards;
  filter: drop-shadow(18px 10px 4px #01017a);
}
@keyframes zoom-In-Out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 6px black);
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.631));
    filter: drop-shadow(18px 10px 4px #0b0ba7);
  }
}

.purple {
  color: rgb(125, 75, 226);
}
#about-down {
  font-size: 13px;
  margin-right: 2rem;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  font-size: 1.2rem;
}
.about-me {
  border: 2px solid rgb(141, 99, 227);
  padding: 5px;
  border-radius: 20px;
  background: rgb(125, 75, 226);
  box-shadow: rgb(182 128 255) 0px 2px 4px;
}

#hire-btn {
  background-image: linear-gradient(90deg, rgb(64, 29, 136), rgb(37 18 76));
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 700;
  position: relative;
  letter-spacing: 1.2px;
  box-shadow: 4px 4px 6px -3px #000;
  transition: all 0.2s linear 0s;
  z-index: 1;
  cursor: pointer;
}

#hire-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: rgb(37 18 76);
  transform-origin: left;
  z-index: -1;
}

#hire-btn:hover::before,
#hire-btn:active::before {
  transform: scaleX(1);
  z-index: -1;
}

.grey {
  color: grey;
  font-size: 1rem;
}
.sub-size {
  font-size: 18px;
}
.about > div > ul,
#left-info p {
  margin: 25px 0;
}
#left-info p {
  text-align: start;
  word-spacing: 1.6px;
  line-height: 1.6;
}
.noStyleList li {
  list-style: none;
}
.ul-lists {
  font-size: 1.15rem;
}
.education {
  /* font-size: 10px; */
  width: 40%;
}

.box {
  width: 80vw;
  height: 2px;
  background: #ffffff;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px -1px 20px 2px whitesmoke;
  animation: on-off 2s linear 0s infinite forwards;
}

@keyframes on-off {
  50% {
    box-shadow: 0px -1px 25px 2px rgb(125 75 226);
  }
  70% {
    box-shadow: 0px -1px 15px 2px rgb(36, 10, 87);
  }
  100% {
    box-shadow: 0px -1px 20px 2px whitesmoke;
  }
}
.verticle-line {
  height: 3vw;
  width: 2px;
  background: #ffffff;
}
.img-logo {
  width: 77px;
  height: auto;
  position: relative;
  top: 32px;
  left: -37px;
}
.verticle-line img + span {
  position: relative;
  top: 25px;
  left: -18px;
  display: flex;
  width: 50px;
}
.link {
  display: none;
  position: relative;
  top: 40px;
  left: -23px;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgb(101 69 195);
  box-shadow: 0px 0px 3px 0px rgb(182 128 255);
}

.btn {
  position: relative;
  top: 40px;
  left: -25px;
  display: flex;
  padding: 8px;
  font-size: 1.2em;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: clamp(50px, 20vw, 80px);
  border: none;
  background-image: linear-gradient(45deg, rgb(13 0 38), ta);
  background-image: linear-gradient(90deg, rgb(125 75 226), rgb(37 18 76));
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#full-socio {
  margin-top: 3rem;
}

.social-handle {
  width: 100%;
  margin-top: 25px;
}
.social-handle ul {
  display: flex;
  justify-content: start;
  align-items: center;
}
.social-handle ul li {
  list-style: none;
  margin: 0 10px 0 0;
}

.social-handle ul li img {
  width: clamp(20px, 10vw, 60px);
}

.tech {
  max-width: 83vw;
  margin: auto;
  height: 45vh;
  position: relative;
}
.faded-text {
  font-size: 5rem;
  color: rgb(255 248 248 / 15%);
  font-weight: bold;
  user-select: none;
}
#fade-tech {
  position: absolute;
  right: -20%;
  top: -20%;
}

.project {
  max-width: 83vw;
  margin: 50px auto;
}

.flex-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 1.15rem; */
}

.single-warap {
  width: 22rem;
  height: 22rem;
  margin: 12px;
  position: relative;
  background: rgb(17 4 42);
  box-shadow: rgb(101 69 195 / 50%) 0px 4px 12px;
  border-radius: 15px;
}

.single-warap:hover {
  background: rgb(17, 0, 48);
}

.single-warap img {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  transition: all 0.3s ease-in-out 0s;
}
.faded-box {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.faded-box span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  color: rgb(0, 252, 21);
  text-shadow: 0 0 6px greenyellow;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}

.faded-box::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.754);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out 0s;
  transform-origin: top;
  z-index: 1;
}

.faded-box:hover::before,
.faded-box:active::before {
  transform: scaleY(1);
}
.faded-box:hover span,
.faded-box:hover span {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.faded-box:hover img {
  transform: scale(1.2);
}

.single-warap div {
  font-size: 14px;
}
.single-warap div h3 {
  text-align: center;
}
.head-desc {
  margin-top: 5px;
}
.head-desc p {
  text-align: center;
}
.go-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 35%;
  cursor: pointer;
}
.go-link button {
  color: white;
  cursor: pointer;
  width: 100px;
  height: 33px;
  font-size: 1.2rem;
  background: rgb(125, 75, 226);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 16px rgb(125 75 226);
}

footer {
  background-color: rgb(37 18 76);
  text-align: center;
  padding: 10px 0 0 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}
.footer div {
  text-align: start;
}
.footer-second ul {
  list-style-type: none;
}
.footer-first img {
  border-radius: 20%;
  width: 35%;
  height: auto;
}
#footer-right {
  color: grey;
  display: block;
  margin: 25px 0 0 0;
}
.total-list {
  display: flex;
  justify-content: flex-end;
}
.total-list .menu-button {
  display: none;
}

/* Contact Me section */

.contact-section {
  width: 100%;
  margin: 30px 0;
}

.contact-section-container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.contact-me {
  font-size: clamp(16px, 4.2vw, 32px);
}
.contact-me-desc {
  font-size: clamp(16px, 3.2vw, 25px);
}
.contact-me-form {
  width: 100%;
  margin: 10px auto;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  margin-bottom: 0.5rem;
}
.formfield {
  width: 85%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px -2px black;
  border: none;
  background-color: #b59db44a;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
  border-radius: 15px;
  color: white;
}
#text-area {
  height: 5rem;
  resize: none;
}
.button {
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 0.7rem;
  background-color: #482a47;
  border-radius: 5px;
  box-shadow: rgb(4 5 6) 0px 20px 30px -10px;
  cursor: pointer;
}

/* || Media queries for 1200px  */

@media screen and (max-width: 1200px) {
  .nav-bar > div {
    margin: 0 25px;
    transition: 0.2s;
  }
  .home > div,
  .about > div {
    width: 40%;
  }
  .tech {
    height: min(30vw, 600px);
  }

  .btn:hover,
  .btn:focus .btn {
    display: block;
    width: max-content;
    position: relative;
    top: 50px;
    left: -97px;
  }
}

@media screen and (max-width: 992px) {
  nav {
    justify-content: center;
    gap: min(15vw, 60px);
    transition: 0.2s;
  }
  .left-info {
    font-size: 2em;
  }
  .about {
    font-size: 1rem;
  }
  .img-logo {
    width: 70px;
    position: relative;
    top: 25px;
    left: -35px;
  }
  .tech {
    height: min(35vw, 600px);
  }
  .single-warap {
    width: min(35vw, 22rem);
    height: min(50vw, 80rem);
  }
}

@media screen and (max-width: 548px) {
  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #230c24e0;
    font-size: 1rem;
    transform-origin: top center;
    animation: dropDown 0.5s ease forwards;
  }
  @keyframes dropDown {
    0% {
      transform: scaleY(0);
    }
    95% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }
  nav ul li {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
  }
  nav ul li:hover,
  nav ul li:focus {
    transform: scale(1.2);
    transition: all 0.2s;
  }
  /* main,
  footer {
    display: none;
  } */
  .total-list .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  body {
    font-size: 0.7em;
  }
  /* Hamberger button */
  .menu-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    /* THIS 3 property make the hamberger div in center */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    /* It is necessary to position it absolute, so parent class is relative */
    position: absolute;
  }

  .menu-icon::before,
  .menu-icon::after {
    /* AS psudo element is used, so content is necessary */
    content: "";
  }

  .menu-icon::before {
    /* It upholds the before div to upside */
    transform: translate(-15px, -8px);
  }

  .menu-icon::after {
    /* It push the after div to downside */
    transform: translate(-15px, 8px);
  }

  /* TRANSITIONS LIMIT */
  .menu-icon::after,
  .menu-icon::before,
  .menu-icon {
    transition: all 0.5s ease 0s;
  }

  .menu-button:hover .menu-icon,
  .menu-button:focus .menu-icon {
    background: transparent;
  }

  /* TRANSFORMATION OF HAMBERGER- before  to one cross edge*/
  .menu-button:hover .menu-icon::before,
  .menu-button:focus .menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
  }

  /* TRANSFORMATION OF HAMBERGER- after to two cross egdge */
  .menu-button:hover .menu-icon::after,
  .menu-button:focus .menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
  }

  .menu-button:hover ~ ul,
  .total-list ul:hover {
    display: block;
  }

  nav {
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 55px 0;
  }

  .left-info {
    font-size: 2.5em;
    margin-top: 25px;
  }
  .home > div {
    width: 80%;
  }

  .social-handle ul {
    flex-wrap: wrap;
    align-content: flex-start;
  }

  nav {
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
  }

  .about {
    flex-direction: column;
  }
  .about > div {
    width: 80%;
  }

  .tech {
    height: max-content;
    margin-top: 30px;
  }
  .tech h1,
  .project h1 {
    font-size: 24px;
  }

  .faded-text {
    display: none;
  }

  .box {
    background: none;
    width: 80vw;
    height: fit-content;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    animation: none;
  }
  .box .verticle-line:nth-child(even) {
    flex-direction: row-reverse;
  }

  .verticle-line {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(31 10 74);
    padding: 0.5rem 1rem;
    margin: 10px 0;
    overflow: auto;
    column-gap: 2px;
  }
  .verticle-line:nth-child(odd) {
    border-radius: 10px 100px 100px 110px;
    box-shadow: -2px 1px 8px rgb(47, 33, 87);
  }
  .verticle-line:nth-child(even) {
    flex-direction: row-reverse;
    border-radius: 100px 117px 10px 100px;
    box-shadow: 2px 1px 8px rgb(47, 33, 87);
  }

  .verticle-line:nth-child(odd) .link {
    border-radius: 0 100px 100px 0;
    box-shadow: 0px 0px 17px 3px black;
    font-size: 14px;
  }
  .verticle-line:nth-child(even) .link {
    border-radius: 100px 0 0 100px;
    box-shadow: 0px 0px 17px 3px black;
    font-size: 14px;
  }
  .img-logo {
    width: 13vw;
    height: auto;
    position: static;
  }

  .verticle-line img + span {
    position: static;
    display: inline-block;
    width: 0px;
    display: none;
  }

  .link {
    display: block;
    position: static;
    padding: 0.5rem;
    border-radius: 20px;
    background: rgb(101 69 195);
    box-shadow: 0px 0px 3px 0px rgb(182 128 255);
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
  .link img {
    position: static;
    width: 20px;
    height: auto;
  }

  #display-548px {
    display: block;
  }

  main hr {
    margin: 2rem 3rem 0;
    box-shadow: 0px 12px 25px 0px;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }

  .single-warap {
    display: flex;
    justify-content: normal;
    align-items: normal;
    flex-direction: column;
    row-gap: 12px;
    width: 90%;
    height: max-content;
    margin: 0.8rem auto;
  }

  .go-link {
    position: static;
    cursor: pointer;
    width: 40%;
    margin: 0.5rem auto;
  }
  .go-link button {
    width: 100%;
    height: max-content;
    font-size: 1.3em;
    padding: 1.2px;
  }
  .head-desc {
    margin-top: 0px;
  }
  .head-desc p {
    padding: 5px;
  }

  .footer {
    flex-wrap: wrap;
    row-gap: 5px;
    justify-content: space-around;
    /* font-size: 16px; */
  }
  .social-handle {
    margin-top: 10px;
  }
  .footer-second {
    font-size: 14px;
  }
  /* .footer .social-handle ul li img {
    width: 4em;
  } */
  .footer-second ul li {
    border-bottom: 2px solid grey;
    margin-bottom: 3px;
  }
  .btn {
    display: none;
  }

  .contact-section-container {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .no-wrap {
    white-space: normal;
  }
  .btn {
    display: none;
  }
}
